@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

@font-face {
  font-family: myFont;
  src: url(../fonts/Poppins-ExtraLight.ttf);
}

html {
  scroll-padding-top: 65px;
}

.menu-links-open {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.menu-links {
  display: none;
  position: absolute;
  z-index: 999;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #d69c1e;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-links ul li {
  margin-bottom: 10px;
}

.menu-links ul li a {
  text-decoration: none;
  font-size: 20px;
}

.menu-links .button {
  margin-top: 50px;
  margin-bottom: 33vh;
}

.menu-links .button a {
  text-decoration: none;
  font-size: 40px;
}

.toggle-button {
  margin-top: 10px;
}

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: white;
}

header .container {
  width: 80%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container .logo {
  padding-top: 5px;
  font-size: 18px;
}

header .container .logo a {
  text-decoration: none;
  color: #1a1a1a;
}

header .container .logo a span {
  color: #d69c1e;
}

header .container .logo :hover {
  color: #d69c1e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .container .toggle-button {
  position: absolute;
  top: .7rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

header .container .toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

header .container nav ul li {
  padding: 20px;
  list-style-type: none;
  font-size: 18px;
  font-weight: bold;
}

header .container nav ul li :hover {
  color: #d69c1e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .container nav ul li a {
  text-decoration: none;
  color: #1a1a1a;
}

main .cover {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: url("../images/coverpicture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main .cover .cover-container {
  width: 40%;
  background-color: white;
  opacity: 0.8;
  padding: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 4px 4px #1a1a1a;
          box-shadow: 4px 4px #1a1a1a;
}

main .cover .cover-container .heading h2 {
  font-size: 50px;
  margin-bottom: 10px;
}

main .cover .cover-container .heading p {
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  color: #d69c1e;
}

main .products {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main .products .products-heading {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

main .products .inner-products {
  width: 90%;
  padding: 20px;
}

main .products .inner-products .product-proteins {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .products .inner-products .product-proteins .picture {
  width: 30%;
}

main .products .inner-products .product-proteins .picture img {
  width: 100% !important;
}

main .staff {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
}

main .staff .staff-heading {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

main .staff .inner-staff {
  width: 90%;
  padding: 20px;
}

main .staff .inner-staff .staff-bio {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .staff .inner-staff .staff-bio .member {
  width: 30%;
}

main .staff .inner-staff .staff-bio .member img {
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px #d69c1e;
          box-shadow: 5px 5px 5px #d69c1e;
  width: 100%;
}

main .author {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main .author .author-heading {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

main .author .author-wrapper {
  width: 90%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .author .author-wrapper .author-pic {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .author .author-wrapper .text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: large;
  padding: 0 0 0 20px;
}

main .author .author-wrapper .text p {
  text-align: left;
}

main .author .author-wrapper .text a {
  color: #d69c1e;
  text-decoration: none;
  font-weight: bold;
}

main .contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 50px 0px;
}

main .contact .contact-heading {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

main .contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 40%;
}

main .contact form input[type=text], main .contact form input[type=email], main .contact form input[type=tel], main .contact form select {
  width: 100%;
  padding: 20px 10px;
  margin: 10px 0px;
  border: #1a1a1a 1px solid;
}

main .contact form .buttons {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .contact form .buttons button {
  width: 48%;
}

main .contact form .error {
  font-size: 12px;
  margin-top: 2px;
  color: red;
}

main footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
}

main footer .footer-links {
  width: 80%;
  padding: 10px;
  color: #d69c1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main footer .footer-links li {
  display: inline;
  padding: 0px 20px;
}

main footer .footer-links li a {
  text-decoration: none;
  font-size: 18px;
  color: #1a1a1a;
  font-weight: bold;
}

main footer .footer-links li a i {
  font-size: 14px;
}

@media screen and (max-width: 1304px) {
  .cover .cover-container .heading h2 {
    font-size: 32px;
  }
  .cover .cover-container .heading p {
    font-size: 27px !important;
  }
}

@media screen and (max-width: 1185px) {
  .cover .cover-container .heading h2 {
    font-size: 30px !important;
  }
  .cover .cover-container .heading p {
    font-size: 25px !important;
  }
  .author .author-wrapper .text {
    font-size: medium !important;
  }
}

@media screen and (max-width: 1105px) {
  header .container {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px;
  }
  .cover .cover-container .heading h2 {
    font-size: 35px !important;
  }
  .cover .cover-container .heading p {
    font-size: 22px !important;
  }
  .author .author-wrapper .text {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 982px) {
  .toggle-button {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  nav {
    display: none;
  }
  .cover .cover-container .heading h2 {
    font-size: 30px !important;
  }
  .cover .cover-container .heading p {
    font-size: 28px !important;
  }
  footer .footer-links li a {
    font-size: 10px;
  }
  .author .author-wrapper .text {
    font-size: 15px !important;
  }
}

@media screen and (max-width: 874px) {
  .author .author-wrapper .text {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 874px) {
  .inner-products .product-proteins {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .inner-products .product-proteins .picture {
    width: 50% !important;
  }
  .inner-staff .staff-bio {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .inner-staff .staff-bio .member {
    width: 50% !important;
  }
  .author .author-wrapper .text {
    font-size: 13px !important;
  }
}
/*# sourceMappingURL=style.css.map */